<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<div class="card" *ngIf="!isLoading">


  <div *ngFor="let question of questions; let i=index">
    <div [hidden]="questionIndex !== i">
      <div class="card-block text-md-center">
        <h2>{{question.name}}</h2>
      </div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="[ {data: [calculatePercent(question, question.a_Freq), calculatePercent(question, question.b_Freq), calculatePercent(question, question.c_Freq), calculatePercent(question, question.d_Freq)], label: question.name} ]"
                [labels]="[question.a_Answer, question.b_Answer, question.c_Answer, question.d_Answer]"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">

        </canvas>
      </div>


    </div>


  </div>

  <div class="card-block text-md-center" *ngIf=" questionIndex >= questions.length">
    <h1>Finished</h1>
  </div>

  <button (click)="nextQuestion()">Next</button>
</div>

